name: TCP Checker

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  run-checker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Checker
        run: python checker.py

      - name: Commit if changed
        run: |
          git config --global user.name "auto-checker"
          git config --global user.email "actions@github.com"
          git add working.txt
          git diff --cached --quiet || git commit -m "Auto update working.txt"
          git push
